@tailwind base;
@tailwind components;
@tailwind utilities;


.disabled{
  opacity: .5;
  pointer-events: none;
  user-select: none;
  &--cadre{
    border: 2px solid gray;
    padding: 1rem !important;
    border-radius: .2rem;
  }
}

.invisible{
  pointer-events: none;
  user-select: none;
  opacity: 0;
  display: none;
}

body{
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background-color: #3333 ;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #0b8baf7d;
    border-radius: 5px;
  }
}

.scrollbar-none{
  &::-webkit-scrollbar{
    width: 0;
  }
}